* {
    margin: 0;
    padding: 0;
    border: 0;

  }

@media (max-width:1200px) {
    .container{ 
        max-width: 962px
    
}
    .arrowdown{
        margin-left: 0px;
    }
}
@media (max-width:992px) {
    .container{ 
        max-width: 768px
}
}
@media (max-width:770px) {
    .container{ 
        max-width: 562px
}
}
@media (max-width:1200px) {
    .container{ 
        max-width: 962px
}
}